DJANGO_SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:3000
DATABASE_URL=postgresql://postgres.vcnxrivjabtuluycpzla:Tauhid%40Base99@aws-1-ap-south-1.pooler.supabase.com:5432/postgres?sslmode=require
DB_SSLMODE=require
DB_CONN_MAX_AGE=0
DB_CONNECT_TIMEOUT=10
DJANGO_API_LOG_LEVEL=INFO
GOOGLE_BOOKS_API_KEY=AIzaSyADSOPYggP6YBw9VuGQibJqUGN9Jlyzawk
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api
