DJANGO_SECRET_KEY=demo-django-secret-key
JWT_SECRET_KEY=demo-jwt-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:3000
DATABASE_URL=postgresql://demo_user:demo_password@demo-host.example.com:5432/demo_db?sslmode=require
DB_SSLMODE=require
DB_CONN_MAX_AGE=0
DB_CONNECT_TIMEOUT=10
DJANGO_API_LOG_LEVEL=INFO
GOOGLE_BOOKS_API_KEY=demo-google-books-api-key
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api
